


.frm1{
margin-top: 230px;
margin-left: 260px;


}

#id1{
font-size: 35px;
margin-top: -110px;
margin-left: -120px;
position: absolute;
color: rgb(245, 45, 19);
position: absolute;
}


#id2{
font-size: 16px;
color: gray;
margin-top: -83px;
position: absolute;
margin-left: -118px;

}


#id3{
width: 310px;
height: 35px;
margin-top: -80px;
position: absolute;
margin-left: -118px;
background-color: rgba(248, 241, 241, 0.712);
border-radius: 5px;
border: 0cap;
}


#id4{
font-size: 16px;
margin-left: -118px;
margin-top: -55px;
position: absolute;
color: gray;


}

#id5{

    width: 310px;
    height: 35px;
    background-color: rgba(248, 241, 241, 0.712);
    border-radius: 5px;
    margin-left: -118px;
    margin-top: -52px;
    position: absolute;
    border: 0cap;
}


#id6{
    font-size: 16px;
    margin-left: -118px;
    margin-top: -30px;
    position: absolute;
    color: gray;

}


#id7{
    width: 310px;
    height: 35px;
    background-color: rgba(248, 241, 241, 0.712);
    border-radius: 5px;
    margin-left: -118px;
    margin-top: -26px;
    position: absolute;
    border: 0cap;

}


#id8{
width: 180px;
height: 35px;
border-radius: 5px;
margin-left: -118px;
position: absolute;
margin-top: 5px;
background-color:  rgb(253, 3, 3);;
color: white;
border: 0cap;
}


#id9{
width: 140px;
height: 35px;
margin-left: 60px;
margin-top: 5px;
background-color: white;
color:  rgb(253, 3, 3);;;
border: 0cap;

}
#id9:hover{
    background-color: darkgrey;

}


#id10{
margin-left: -118px;
margin-top: 13px;
font-size: 14px;
color: gray;
position: absolute;
}


#id11{
font-size: 16px;
color: gray;
margin-left: -90px;
position: absolute;
margin-top: 12px;


}


#id12{
    font-size: 16px;
color:  rgb(253, 3, 3);;;
    margin-left: -3px;
    position: absolute;
    margin-top: 12px;

}


#id13{
    font-size: 16px;
color: gray;;;
    margin-left: -90px;
    position: absolute;
    margin-top: 12px;

}


#id14{
    font-size: 16px;
    color:  rgb(253, 3, 3);;;
        margin-left: -62px;
        position: absolute;
        margin-top: 12px;
}


#id15{
width: 550px;
height: 550px;
margin-left: 480px;
margin-top: -390px;

}



















